<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-gray-100 py-8">
    <div class="max-w-2xl mx-auto sm:px-6">
      
  <ul role="list" class="space-y-3">
    
      <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
        <x-placeholder class="block border-2 border-dashed border-gray-300 rounded bg-white h-16 w-full text-gray-200"></x-placeholder>
      </li>
    
      <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
        <x-placeholder class="block border-2 border-dashed border-gray-300 rounded bg-white h-16 w-full text-gray-200"></x-placeholder>
      </li>
    
      <li class="bg-white shadow overflow-hidden px-4 py-4 sm:px-6 sm:rounded-md">
        <x-placeholder class="block border-2 border-dashed border-gray-300 rounded bg-white h-16 w-full text-gray-200"></x-placeholder>
      </li>
    
  </ul>

    </div>
  </div>