<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-white p-8">
    <div class="max-w-md mx-auto">
      
  <ul role="list" class="divide-y divide-gray-200">
    
      <li class="py-4">
        <x-placeholder class="block border-2 border-dashed border-gray-300 rounded bg-white h-16 w-full text-gray-200"></x-placeholder>
      </li>
    
      <li class="py-4">
        <x-placeholder class="block border-2 border-dashed border-gray-300 rounded bg-white h-16 w-full text-gray-200"></x-placeholder>
      </li>
    
      <li class="py-4">
        <x-placeholder class="block border-2 border-dashed border-gray-300 rounded bg-white h-16 w-full text-gray-200"></x-placeholder>
      </li>
    
  </ul>

    </div>
  </div>