<!--
  This example requires Tailwind CSS v2.0+

  The alpine.js code is *NOT* production ready and is included to preview
  possible interactivity
-->
<div class="bg-gray-100">
    <div class="container mx-auto bg-pink-100 sm:px-6 lg:px-8">
      <svg class="border-2 border-dashed border-gray-300 bg-white h-64 w-full text-gray-200" preserveAspectRatio="none" stroke="currentColor" fill="none" viewBox="0 0 200 200" aria-hidden="true">
        <path vector-effect="non-scaling-stroke" stroke-width="2" d="M0 0l200 200M0 200L200 0"></path>
      </svg>
    </div>
  </div>